// 取数字的整数部分
var getInt = function (n) {
  if (n === undefined) return '0'
  if (typeof n !== 'number') return '数字类型错误'
  return parseInt(n)
}

// 取数字的小数部分，只返回两位
var getFloat = function (n) {
  if (n === undefined) return '00'
  if (typeof n !== 'number') return '数字类型错误'
  var ans = n.toFixed(2) * 100 % 100
  if (ans === 0) return "00"
  if (ans < 10) return "0" + ans
  return ans
}

// 自定义时间戳转成时间，形式如下
// y年x月x日 hh:mm
var getFormatTime = function (timestamp) {
  var date = getDate(timestamp)

  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var days = date.getDate()
  var hours = date.getHours()
  var minutes = date.getMinutes()

  return (year === getDate().getFullYear() ? '' : year + '年')
    + month + '月'
    + days + '日 '
    + hours + ':'
    + (minutes < 10 ? '0' + minutes : minutes)
}

module.exports = {
  getInt: getInt,
  getFloat: getFloat,
  getFormatTime: getFormatTime,
}